*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body{
    font-size: 1.8rem;
    margin-top: 10rem;
    background-color: rgb(228, 227, 227);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    font-size: 1.8rem;
}

a{
    font-size: 1.8rem;
    text-decoration: none;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}